.FriendCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(175, 175, 175);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
}

.avatar {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 100%;
}
