.AddMessage {
  margin-bottom: 40px;
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
  background-color: rgb(175, 175, 175);
}

.AddMessage input {
  padding: 10px 20px;
}
