.footer-main {
  margin-top: 20px;
  padding: 20px;
  border-top: 5px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.footer-main h3 {
  margin: 0;
}

.footer-main button {
  width: 50px;
}
