.FriendCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
}

.avatar {
  width: 80px;
  border-radius: 40px;
}
