.App {
  color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
}

.App__Filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.App_messages {
  padding: 20px;
  width: 400px;
}

.App_friends {
  padding: 20px;
  width: 400px;
}
