.MessageCardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: calc(100vh - 79px - 134px - 40px - 65px);
}

.MessageCardList::-webkit-scrollbar {
  display: none;
}
