* {
  margin: 0;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 5px solid black;
  background-color: rgb(175, 175, 175);
}

.Navbar__main {
  display: flex;
  align-items: center;
}

.Navbar__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Navbar__user--propic {
  height: 65px;
}
