.Gallery {
  display: flex;
  justify-content: center;
  margin: 0 40px;
  padding: 10px;
}

.Gallery__content {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px 0 0 10px;
  border: 2px solid black;
}
